.search-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 51px;
    padding-right: 116px;
    padding-top: 51px;
    .search-form {
        display: flex;
        justify-content: center;
        margin-left: 7px;
        .search-form-field-warpper{
            width:250px;
            input.mat-input-element {
                width: 350px;
                height: 29px;
                border-radius: 8px;
            }
        }
        .submit-warpper {
            position: relative;
            .submit-btn { 
                border: none;
                background-color: #FFF;
                position: absolute;
                top: 3px;
                left: 67px;
                outline:none;
                .mat-icon:focus {
                    border: none;
                    outline: none;

                }
            }
        }
        
    }
}