.search-form-container{
    .search-form {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 30px;
        .search-form-field-warpper{
            width:250px;
            input.mat-input-element {
                width: 300px;
                height: 50px;
                border-radius: 8px;
            }
        }
        .submit-warpper {
            position: relative;
            .submit-btn { 
                border: none;
                background-color: #FFF;
                position: absolute;
                top: 14px;
                left: 17px;
                outline:none;
                .mat-icon:focus {
                    border: none;
                    outline: none;

                }
            }
        }
        
    }
}